{% extends 'layout.html.twig' %}

{% block title %} Terms Of Service {{parent()}}{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="../assets/css/tutorialandtos.css" <meta name="viewport"
    content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block content %}
{# Div using grid with background sky, return button, logo and another button (non displayed) #}
<section class="sky">
   
</section>
{# Div which only displays the castle #}
<picture class="castle">
    <source id="castle" media="(max-width:650px)" srcset="/assets/images/mobile/troop_choice_castle.png">
    <img id="castle" src="/assets/images/desktop/desktop_castle_troop_choice.png" alt="Castle">
</picture>
{# Div with background grass and bloc titles and text #}
<section class="grass">
    <div class="title">
        <h1>REGISTRATION</h1>
    </div>
    <div class="container">
        <hr>
        <h2>Choose your own password carefully!</h2>
        <hr>
        <form class="tos-text" action="newpass" method="post">
            <div class="form">
                <label for="newpassword">Please, give me a <strong>NEW</strong> password for our spies:</label>
                <input type="password" id="newpassword" name="newpassword" required >
            </div>
            <input type="submit" class="submit" value="Go Messenger!">
        </form>
    </div>
</section>
{% endblock %}