{% extends 'layout.html.twig' %}

{% block title %} Terms Of Service {{parent()}}{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="../assets/css/tutorialandtos.css">
{% endblock %}

{% block content %}

<div class="sky"></div>
{# Div which only displays the castle #}
<picture class="castle">
    <source media="(max-width:650px)" srcset="/assets/images/mobile/troop_choice_castle.png">
    <img id="castle" src="/assets/images/desktop/desktop_castle_troop_choice.png" alt="Castle">
</picture>
{# Div with background grass and bloc titles and text #}
<section class="grass">
    <div class="title">
        <h1>REGISTRATION</h1>
    </div>
    <div class="container">
        <hr>
        <h2>What kind of king are you??</h2>
        <hr>
        <form class="tos-text" action="admin/pass" method="post">
            <div class="form">
                <label for="password">Please give me a password for our spies:</label>
                <input type="password" id="password" name="password" required minlength="8">
            </div>
            <input type="submit" class="submit" value="Go Messenger!">
        </form>
    </div>
</section>
{% endblock %}