.sky{
    display: flex;
    background-image: url(../images/mobile/sky.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding-bottom: 1px;
}

.grass{
    display: flex;
    flex-direction: column;
    background-image: url(../images/mobile/grass.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.castle{
    margin-bottom: -10px;
}

.backgroundRound{
    background-image: url(../images/mobile/bubble.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 150px;
}

.round{
    font-size: 0.8rem;
    text-align: center;
    transform: rotate(12deg);
}

#timer{
    text-align: center;
}

.indice{
    align-self: flex-end;
    max-width: 150px;
}

.alignChoice{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.backgroundChoice{
    background-color: var(--font-troop);
}

.oneTroop{
    border: black solid 1px;
}

.score{
    align-self: center;
}

.green{
    background-color: var(--green-troop);
}

.yellow{
    background-color: var(--yellow-troop);
}

.red {
    background-color: var(--red-troop);
}
