@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Roboto&family=Skranji&display=swap');

body {
    background-image: url("/assets/images/mobile/home_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

@media only screen and (min-width : 530px) {
    
    body {
        background-image: url("/assets/images/desktop/home_background.png");
    }
}

main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "castle castle" "defend-button tutorial-button" "logo logo";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6fr 1fr 2fr;
}

@media only screen and (min-width : 530px) {
    
    main {
        grid-template-areas: "logo logo" "castle defend-button" "castle tutorial-button" "castle camp";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr 3fr;
    }
}

.castle {
    grid-area: castle;
    justify-self: center;
    margin-bottom: 1.5em;
}

@media only screen and (min-width : 530px) {
    .castle {
        margin-right: 3em;
        padding-bottom: 3em;
    }
}

.defend-button {
    grid-area: defend-button;
}

@media only screen and (min-width : 530px) {

    .defend-button {
        align-self: end ;
    }
}

.tutorial-button {
    grid-area: tutorial-button;
}

@media only screen and (min-width : 530px) {
    .tutorial-button {
        margin-top: 2em;
    }
}

.defend-button, .tutorial-button {
    width: 5em;
    height: 1.5em;
    justify-self: center;
    border: solid var(--background-nbScore);
    border-radius: 0.3em;
    background-color: var(--background-buttons);
    text-align: center;
    padding: 0.4em 1em 0.2em 1em;
}

@media only screen and (min-width : 530px) {
    .defend-button, .tutorial-button {
        width: 8em;
    }
}

.defend-button a, .tutorial-button a {
    text-decoration: none;
    color: var(--dark-text);
    font-family: 'Skranji';
    font-size: 1em;
}

.logo {
    grid-area: logo;
    justify-self: center;
}

.camp {
    display: none;
}

@media only screen and (min-width : 530px) {
    .camp {
        display: contents;
        justify-self: center;
    }
}