{% extends 'layout.html.twig' %}
{% block title %} Terms Of Service {{parent()}}{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="../assets/css/tutorialAndTOS.css"
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block content %}
    {# Div using grid with background sky, return button, logo and another button (non displayed) #}
    <div class="sky">
        <div class="returnbutton">
            <a href="/"><img id="returnbutton" src="/assets/images/mobile/return_icon.png" alt="return to home"></a>
        </div>
        <div class="logo">
            <img id="logo" src="/assets/images/mobile/logo.png" alt="logo Defend the Castle">
        </div>
        <div class="otherbutton">
        </div>
    </div>
    {# Div which only displays the castle #}
    <picture class="castle">
        <source id="castle" media="(max-width:650px)" srcset="/assets/images/mobile/troop_choice_castle.png">
        <img id="castle" src="/assets/images/desktop/desktop_castle_troop_choice.png" alt="Castle">
    </picture>
    {# Div with background grass and bloc titles and text #}
    <div class="grass">
        <div class="title">
            <h1>ABOUT</h1>
    </div>
    <div class="container">
        <hr>
        <h2>Our Team</h2>
        <hr>
        <br>
    <div class="tos-text">
        <p>“This site was developed as part of a project during the Web Developer Training - REMOTE-FR-2021 of the WILD CODE SCHOOL" </p>
        <br>
        <p>It's authors :</p>
        <br>
        <p>Bruno F.<br>Elodie D.<br>Caroline C.<br>Soufiane A.O.<br>Sébastien V.</p>
        <br>
        <p>Our game is also referenced in the Game Pocket plateform</p>
        <br>
        <img id="gamepocket" src="/assets/images/mobile/gamepocket.png" alt="Game Pocket">
        <br>
        <hr>
        <h1>LEGAL INFORMATION</h1>
        <hr>
        <br>
        <p>Music : "Fives Armies" by Kevin MacLeod (incompetech.com) . Under Creative Commons licence<br>
        http://creativecommons.org/licenses</p>
        <br>
        <p>Site host : SiteGround London (UK)<br>SiteGround Hosting Ltd.<br>3rd Floor, 11-12 St. James's Square<br>London SW1Y 4LB<br>+44 800 8620379 </p>
        <br>
        <p>Acces to the site:</p>
        <br>
        <p>The site is accessible at any place, 7 days a week, except in case of force majeure, scheduled or unscheduled interruption that could result from a maintenance operation. In case of modification, interruption or suspension of the site, the editor cannot be held responsible.</p>
     </div>
        <button onclick="scriptReset()" class="btn">Reset Game</button>
{% endblock %}
{% block javascript %}
<script src="assets/js/reset.js"></script>
{% endblock %}
